/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');

body {
  font-family: "Montserrat", sans-serif;
}

.text-elements {
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover {
  background: #6c8cff;
}

.delay-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.delay-input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  box-sizing: border-box;
  outline: none;
}

.delay-input:hover {
  border-color: #000000;
}

.delay-input:focus {
  border-color: #4E75FF;
}

.state-input {
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  padding: 22px 48px 8px;
  width: 360px;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
  align-items: center;
}

.state-input:hover {
  border-color: #000000;
}